<%-include('../includes/adminStart') %>

    <body class="bg-gray-100 dark:bg-gray-900 font-sans">
        <%-include('../includes/components/adminAside') %>

            <div class="p-4 sm:ml-64">
                <%-include('../includes/components/adminNav') %>
                    <!--content-->
                    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
                        
                    </div>

            </div>


    </body>
    <%- include('../includes/adminEnd') %>