<!--head-->
<%-include('../includes/userStart')  %>
<!--head closes here-->
<body>
  <header>
    <%-include('../includes/userNav')  %>
  </header>
  
  <!--banner starts here-->
    <%-include('../includes/components/banner')  %>
  <!--banner closes here-->

</body>
    <%-include('../includes/userEnd')  %>