<%-include('../includes/userStart')  %>
<body class="dark:bg-gray-800 bg-white">
    <header>
        <%-include('../includes/userHomeNav')  %>
    </header>
    <body>
        
    </body>
    <!-- <%-include('../includes/components/userFooter')  %> -->
    <%-include('../includes/userEnd')  %>