<%-include('../includes/userStart')  %>
<body>
    <header>
        <%-include('../includes/userHomeNav')  %>
    </header>
    <!--banner starts here-->
    <%-include('../includes/components/banner')  %>
    
  <!--banner closes here-->

</body>
    <%-include('../includes/userEnd')  %>